form {
    float: center;
  background: rgba(255, 204, 204 ,0.5);
  

  padding: 50px;
  max-width: 550px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow:  10px 10px 5px rgba(255, 204, 204 ,0.3);
    margin-right: 10px;
	
}


input[type=text] {
  border: 2px solid #000000;
  border-radius: 4px;
}

button {
   background-color: #c2c2d6;
  border: none;
  color: #000000;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

h2{
	color:#000000;
}